/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */

#NextApp {
  font-family: 'Lato';
  background: #0575E6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #0575E6, #021B79);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #0575E6, #021B79); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: 
      url('/fonts/lato-regular.woff2') format('woff2'),
      url('/fonts/lato-regular.woff') format('woff'),
      url('/fonts/lato-bold.woff2') format('woff2'),
      url('/fonts/lato-bold.woff') format('woff'),
      url('/fonts/lato-black.woff2') format('woff2'),
      url('/fonts/lato-black.woff') format('woff');
}

.invert-color {
  transition: all 0.3s ease;
}

.invert-color:hover {
  filter: invert(90%);
}
/**
 * ----------------------------------------
 * animation focus-in-contract
 * ----------------------------------------
 */
/* @keyframes focus-in-contract {
  0% {
    letter-spacing: 1em;
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}


.focus-in-contract {
  animation: focus-in-contract 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) .5s both;
} */

@tailwind utilities;