/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */

#NextApp {
	font-family: "Inter";
	background: #0575e6; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to bottom,
		#0575e6,
		#021b79
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to bottom,
		#0575e6,
		#021b79
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&display=swap');

/* @font-face {
	font-family: "Lato";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url("/fonts/lato-regular.woff2") format("woff2"),
		url("/fonts/lato-regular.woff") format("woff"),
		url("/fonts/lato-bold.woff2") format("woff2"),
		url("/fonts/lato-bold.woff") format("woff"),
		url("/fonts/lato-black.woff2") format("woff2"),
		url("/fonts/lato-black.woff") format("woff");
} */

/* Customize highlighted text */
:not(img)::selection {
	background: #ffed86;
	color: #373737;
}

/* Invert icons color */
.invert-color {
	transition: all 0.3s ease;
}

.invert-color:hover {
	filter: invert(90%);
}

/* Fallback hasta que Tailwind permita modificar estas props */
.grid-centering {
	justify-items: center;
}

.highlight {
	text-decoration: underline;
	font-weight: bold;
}

/**
 * ----------------------------------------
 * Hover link styles - https://codepen.io/origine/pen/KVzpYm
 * ----------------------------------------
 */
.link {
	display: inline-block;
	position: relative;
	text-decoration: none;
	color: #fff;
	font-weight: 600;
}

.hover-1:after {
	content: "";
	position: absolute;
	width: 100%;
	height: 3px;
	bottom: 0;
	left: 0;
	background-image: linear-gradient(to right, #ffe000, #799f0c);
	transform: scaleX(0);
	transform-origin: bottom right;
	transition: transform 0.3s;
}

.hover-1:hover:after {
	transform-origin: bottom left;
	transform: scaleX(1);
}

.link2 {
	text-decoration: none;
	color: #fff;
	background-image: linear-gradient(to right, #e6cd14, #799f0c);
	background-repeat: no-repeat;
	background-size: 100% 0.2em;
	background-position: 0px 100%;
	transition: background-size 0.25s ease-in 0s;
}

.link2:hover {
	background-size: 100% 88%;
}

/**
 * ----------------------------------------
 * animation focus-in-contract
 * ----------------------------------------
 */
@keyframes focus-in-contract {
	0% {
		letter-spacing: 1em;
		filter: blur(12px);
		opacity: 0;
	}
	100% {
		filter: blur(0px);
		opacity: 1;
	}
}

.focus-in-contract {
	animation: focus-in-contract 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.3s both;
}

@tailwind utilities;
